/* Carousel Research - Research card carousel with square images */
.carousel-research .carousel-research-slides-container {
  position: relative;
}

.carousel-research .carousel-research-slides,
.carousel-research .carousel-research-slide-indicators {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel-research .carousel-research-slides {
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  overflow: auto hidden;
  gap: 16px;
}

.carousel-research .carousel-research-slides::-webkit-scrollbar {
  display: none;
}

.carousel-research .carousel-research-slide {
  flex: 0 0 calc(100% - 16px);
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: auto;
  background-color: var(--background-color);
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
}

.carousel-research .carousel-research-slide:has(.carousel-research-slide-content[data-align='center']) {
  align-items: center;
}

.carousel-research .carousel-research-slide:has(.carousel-research-slide-content[data-align='right']) {
  align-items: flex-end;
}

.carousel-research .carousel-research-slide .carousel-research-slide-image {
  width: 100%;
  line-height: 0;
}

.carousel-research .carousel-research-slide .carousel-research-slide-image picture {
  display: block;
}

.carousel-research .carousel-research-slide .carousel-research-slide-image picture > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.carousel-research .carousel-research-slide .carousel-research-slide-content {
  z-index: 1;
  margin: 0;
  padding: 0 0 16px;
  color: var(--text-color);
  background-color: var(--background-color);
  position: relative;
  width: var(--slide-content-width, auto);
  border-radius: 0;
}

.carousel-research .carousel-research-slide .carousel-research-slide-content h2,
.carousel-research .carousel-research-slide .carousel-research-slide-content h3 {
  color: var(--text-color);
  font-family: var(--heading-font-family);
  font-weight: 700;
  margin-top: 0;
}

.carousel-research .carousel-research-slide .carousel-research-slide-content p {
  color: var(--text-color);
  line-height: 1.75;
}

.carousel-research .carousel-research-slide .carousel-research-slide-content a:any-link {
  color: var(--link-color);
}

.carousel-research .carousel-research-slide-indicators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px 12px;
  padding: var(--spacing-s);
  background-color: var(--light-color);
  line-height: 0;
}

.carousel-research .carousel-research-slide-indicator button {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: #dadada;
  transition: background-color 0.2s;
  cursor: pointer;
}

.carousel-research .carousel-research-slide-indicator button:disabled,
.carousel-research .carousel-research-slide-indicator button:hover,
.carousel-research .carousel-research-slide-indicator button:focus-visible {
  background-color: var(--brand-yellow);
}

.carousel-research .carousel-research-navigation-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.carousel-research .carousel-research-navigation-buttons button {
  position: relative;
  width: 44px;
  height: 44px;
  margin: 0;
  border: 2px solid var(--brand-yellow);
  border-radius: 0;
  padding: 0;
  background-color: rgb(24 23 22 / 60%);
  transition: background-color 0.2s;
  cursor: pointer;
}

.carousel-research .carousel-research-navigation-buttons button:hover,
.carousel-research .carousel-research-navigation-buttons button:focus-visible {
  background-color: var(--brand-yellow);
}

.carousel-research .carousel-research-navigation-buttons button::after {
  display: block;
  content: '';
  border: 2px solid var(--background-color);
  border-bottom: 0;
  border-left: 0;
  height: 12px;
  width: 12px;
  position: absolute;
  top: 50%;
  left: calc(50% + 2px);
  transform: translate(-50%, -50%) rotate(-135deg);
}

.carousel-research .carousel-research-navigation-buttons button:hover::after,
.carousel-research .carousel-research-navigation-buttons button:focus-visible::after {
  border-color: var(--brand-dark);
}

.carousel-research .carousel-research-navigation-buttons button.slide-next::after {
  transform: translate(-50%, -50%) rotate(45deg);
  left: calc(50% - 2px);
}

@media (width >= 600px) {
  .carousel-research .carousel-research-slide {
    flex: 0 0 calc(50% - 12px);
  }

  .carousel-research .carousel-research-navigation-buttons {
    left: 24px;
    right: 24px;
  }
}

@media (width >= 900px) {
  .carousel-research .carousel-research-slide {
    flex: 0 0 calc(25% - 12px);
  }
}
